.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.error_code {
    font-size: 9rem; /* Large font size for 404 */
    font-weight: 600; /* Bold font weight */
    color: #4a5568; /* Dark gray text */
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.05); /* Subtle text shadow */
}
.error_message {
    font-size: 1.5rem; /* Increased font size */
    color: #718096; /* Medium gray text */
    margin-bottom: 1.5rem; /* Increased margin */
    text-align: center;
    line-height: 1.4; /* Improved line height for readability */
}
.home_button {
    background-color: #63b3ed; /* Blue button */
    color: #ffffff; /* White text */
    padding: 1rem 2.5rem; /* Increased padding */
    border-radius: 0.5rem; /* Rounded corners */
    font-weight: 600; /* Bold font weight */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
    font-size: 1.1rem; /* Increased font size */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.home_button:hover {
    background-color: #3182ce; /* Darker blue on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .error_code {
        font-size: 7rem; /* Smaller font size on mobile */
    }
    .error_message {
        font-size: 1.25rem; /* Smaller font size on mobile */
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .home_button {
        padding: 1rem 2rem; /* Adjusted padding on mobile */
        font-size: 1rem;
    }
}
@media (max-width: 480px){
    .error_code{
        font-size: 5rem;
    }
    .error_message{
        font-size: 1rem;
    }
}