@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

    /* Colors */
  --primary-blue: #0d6efd; /* Bootstrap primary blue */
  --secondary-gray: #6c757d; /* Bootstrap secondary gray */
  --danger-red: #dc3545; /* Bootstrap danger red */
  --warning-yellow: #ffc107; /* Bootstrap warning yellow */
  --success-green: #198754; /* Bootstrap success green */
  --light-bg: #f8f9fa; /* Bootstrap light background */
  --border-color: #dee2e6; /* Bootstrap border color */
  --hover-bg: #f0f0f0;
    --hover-blue: #2563eb;
  --light-blue-bg: #e0f2fe;
  --dark-gray-text: #1e293b;
  --medium-gray-text: #6b7280;
  --light-gray-border: #d1d5db;
  --light-gray-divider: #e5e7eb;
  --white: #fff;
  --red-error: #ef4444;
  --red-logout: #dc2626;
  --red-logout-hover: #b80f0a;
  --green-success: #10b981;
  --google-blue: #4285f4;
  --google-hover: #f8f9fa;
  --linkedin-blue: #0077b5;
  --linkedin-hover: #004182;
  --github-bg: #cbe1b5;
  --github-hover: #310173;
  --facebook-bg: #9fd8e9;
  --facebook-hover: #8dc3dc;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*
Source - https://stackoverflow.com/a
Posted by Felipe Saldanha
Retrieved 2025-11-19, License - CC BY-SA 4.0
*/
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

div {
  font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
    --medium-gray-text: #6b7280;
  }

  a:hover {
    color: #24c8db;
  }
  
  input { /* Keep input for text visibility if needed */
    color: #ffffff; 
  }
}
 
body {
  min-height: 100vh;
  background-color: #f0f2f5;
  color: #050505;
  display: flex;
  overflow-x: hidden;
  font-family: sans-serif;
}

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate_fade_in_up {
    animation: fadeInUp 0.6s ease-out forwards;
}