/* General styles for the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Default gap */
  overflow-x: scroll;
  padding: 1rem; /* Default padding */
}

/* Responsive gap and padding */
@media (min-width: 640px) {
  .container {
    gap: 2.75rem; /* Larger gap for sm screens */
    padding: 0; /* Remove padding for sm screens */
  }
}

/* Avatar styles */
.avatar {
  border-radius: 50%;
  transition: all 0.3s ease;
  transform: scale(1);
}

/* Normal avatar style */
.avatar-normal {
  width: 4rem; /* 64px */
  height: 4rem; /* 64px */
}

.avatar-normal:hover {
  transform: scale(1.05);
}

/* Active avatar style */
.avatar-active {
  width: 90px;
  height: 90px;
  padding: 0.375rem; /* 6px */
}

@media (min-width: 640px) {
  .avatar-active {
    padding: 0.8125rem; /* 13px */
  }
}

.avatar-active img {
  width: 4rem; /* 64px */
  height: 4rem; /* 64px */
  border-radius: 50%;
  object-fit: cover;
}

.avatar-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(208, 228, 236, 0.5);
  border: 4px solid #1376A1;
  border-radius: 50%;
  box-sizing: border-box;
  transform: scale(1);
}

.avatar-active.scale-100 {
  transform: scale(1);
}