.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap; 
    width: 100%;
    min-width: 0; 
    overflow-x: auto; 
    padding: 1rem;
}

.container > * {
    flex-shrink: 0;
}

@media (min-width: 640px) {
    .container {
        gap: 2.75rem;
        padding: 0;
        overflow-x: auto;
    }
}

.avatar {
    width: 64px; 
    height: 64px;
    border-radius: 50%;
    transition: all 0.3s ease;
    transform: scale(1);
}

.avatarNormal:hover {
    transform: scale(1.05);
}

.avatarActive {
    position: relative;
    box-shadow: 
        0 0 0 4px #1376A1,
        0 0 0 8px rgba(208, 228, 236, 0.5);
    border-radius: 50%;
    z-index: 10;
}

@media (min-width: 640px) {
    .avatarActive {
        box-shadow: 
            0 0 0 4px #1376A1, 
            0 0 0 16px rgba(208, 228, 236, 0.5);
    }
}

.avatarActive img {
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
    object-fit: cover;
}

.avatarActive::before {
    content: none; 
}

.avatarActive.scale-100 {
    transform: scale(1);
}